In [1]:
import pandas as pd

In [81]:
df = pd.read_csv('coinbaseUSD.csv')

df

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1417411980,300.00,300.00,300.00,300.00,0.010000,3.000000,300.000000
1,1417412040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1417412100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1417412160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1417412220,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2099755,1546898520,4006.01,4006.57,4006.00,4006.01,3.382954,13553.433078,4006.390309
2099756,1546898580,4006.01,4006.57,4006.00,4006.01,0.902164,3614.083169,4006.017233
2099757,1546898640,4006.01,4006.01,4006.00,4006.01,1.192123,4775.647308,4006.003635
2099758,1546898700,4006.01,4006.01,4005.50,4005.50,2.699700,10814.241898,4005.719991
2099759,1546898760,4005.51,4006.01,4005.51,4005.99,1.752778,7021.183546,4005.745614

In [85]:
# analyszng the dataset 

#in case of non-filling get first 5 rows
df.head()

#in case of non-filling get last 5 rows
df.tail()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
2099755,1546898520,4006.01,4006.57,4006.00,4006.01,3.382954,13553.433078,4006.390309
2099756,1546898580,4006.01,4006.57,4006.00,4006.01,0.902164,3614.083169,4006.017233
2099757,1546898640,4006.01,4006.01,4006.00,4006.01,1.192123,4775.647308,4006.003635
2099758,1546898700,4006.01,4006.01,4005.50,4005.50,2.699700,10814.241898,4005.719991
2099759,1546898760,4005.51,4006.01,4005.51,4005.99,1.752778,7021.183546,4005.745614

In [60]:
# Inspect the index 
print(df.index)

# Inspect the columns
print(df.columns)

RangeIndex(start=0, stop=2099760, step=1)
Index(['Timestamp', 'Open', 'High', 'Low', 'Close', 'Volume_(BTC)',
       'Volume_(Currency)', 'Weighted_Price'],
      dtype='object')

In [73]:
pct_c = (df.Close / df.Open).apply(lambda x: x - 1) * 100
display(pct_c.head(10))

0    0.0
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    0.0
8    NaN
9    NaN
dtype: float64

In [75]:
import numpy as np

# Assign `Adj Close` to `daily_close`
daily_close = df.Close

# Daily returns
daily_pct_change = daily_close.pct_change()

# Replace NA values with 0
daily_pct_change.fillna(0, inplace=True)

# Inspect daily returns
display(daily_pct_change.head(10))

# Daily log returns
daily_log_returns = np.log(daily_close.pct_change()+1)

# Print daily log returns
display(daily_log_returns.head(10))

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: Close, dtype: float64

0    NaN
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: Close, dtype: float64

In [86]:
# Daily log returns
daily_log_returns = np.log(df.Close.pct_change()+1)

In [87]:
import plotly
import plotly.offline as py
import plotly.graph_objs as go
import numpy as np

py.init_notebook_mode(connected=True)

In [ ]:
import plotly.graph_objs as go

data = [go.Histogram(x=daily_log_returns)]
py.iplot(data, filename='basic histogram')

In [ ]:
import pandas as pd
import numpy as np
import datetime
import pandas_datareader as pdr

import plotly
import plotly.offline as py
import plotly.graph_objs as go
import numpy as np

py.init_notebook_mode(connected=True)